/* Estilos gerais para o formulário */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: grey;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
   text-align: center;

}
 .styled-button {
            background-color: #008000; /* Cor de fundo verde */
            border: none; /* Remove bordas */
            color: white; /* Cor do texto */
            padding: 15px 32px; /* Espaçamento interno */
            text-align: center; /* Alinhamento do texto */
            text-decoration: none; /* Remove sublinhado */
            display: inline-block; /* Exibição em linha */
            font-size: 16px; /* Tamanho da fonte */
            margin: 4px 2px; /* Margens */
            cursor: pointer; /* Cursor de ponteiro */
            border-radius: 12px; /* Borda arredondada */
            transition: background-color 0.3s; /* Efeito de transição suave */
        }

        .styled-button:hover {
            background-color: #006400; /* Cor de fundo ao passar o mouse (verde escuro) */
        }
/* Estilos para os campos de entrada */
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para o botão de envio */
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para o botão de envio ao passar o mouse */
button:hover {
    background-color: #45a049;
}
