<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal de livros online</title>
</head>
<body>

    <form action="/adicionarlivro" method="post">

        <label>Digite o nome do livro:</label>
        <input type="text" name="livro">
        <br>
        <label>Digite o código do livro:</label>
        <input type="text" name="nome">
        <br>
        <labeL>Digite quantos estão disponiveis</label>
        <input type="number" name="disponivel">
        <br>
        <button type="submit">Entrar</button>

    </form>



</body>
</html>