<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/homeuser.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Seja bem-vinda, {{user}}</h1>
            <p>Você se logou no sistema</p>
        </header>
        <main>
            <section class="links">
                <a href="/listar_livros" class="button">Veja os livros disponíveis</a>
                <a href="/page_add_livro" class="button">Cadastre aqui seus livros</a>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 Seu Sistema. Todos os direitos reservados.</p>
             <a href='/'>Voltar</a>
        </footer>
    </div>
</body>
</html>
