<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="..//static//homeuser.css">
</head>
<body>
    <h1>Seja bem-vinda {{user}}</h1>
    <p>Você se logou no sistema</p>
    <p>
        <a href="/page_add_livro">Veja os livros disponíveis:</a>
    </p>

    <br><br>
<nav class="menu">
        <ul>
            <li><a href="/cadastrarlivro" class="button">Home</a></li>
            <li><a href="#sobre" class="button">Sobre</a></li>
            <li><a href="#servicos" class="button">Serviços</a></li>
            <li><a href="#contato" class="button">Contato</a></li>
        </ul>
    </nav>


</body>
</html>