<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar Livros</title>
    <link rel="stylesheet" href="..//static//listarlivros.css">
</head>
<body>
    <div class="container">
        <h1>Livros disponíveis:</h1>
        <ul class="book-list">
            {% for livro in lista %}
            <li class="book-item">
                <h2>Título: {{livro[0]}}</h2>
                <p>Autor: {{livro[1]}}</p>
                <p>Editora: {{livro[2]}}</p>
            </li>
           {% endfor %}
            <!-- Adicione mais itens de livros aqui -->
        </ul>

        <a href="/login">Voltar</a>

    </div>

</head>
</body>



